<div class="container-fluid">
  <div class="panel panel-primary">
    <h3 class="text-center">My Todo List</h3>
  </div>
  <div *ngFor = "let todo of todos; index as i">
    <div class="mb-3 mt-3">
        <div [ngClass] = "getClass(i)">
          <div class="row">
            <div class="col-md-6">
                任务： {{todo.task}}
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input id="checkbox_{{i}}" class="form-check-input" type="checkbox" [(ngModel)]="todos[i].isDone">
                    <label for="checkbox_{{i}}" class="form-check-label">是否完成</label>
                  </div>
            </div>
          </div>




        </div>
    </div>

  </div>
  <button (click)="updateTodoList()" class="btn btn-primary btn-lg btn-block">一键清理列表</button>
  <button (click)="clearTodoList()" class="btn btn-danger btn-lg btn-block">删除所有任务</button>

  <form #addTodoForm="ngForm" (ngSubmit)="addTodo(addTodoForm.value)">
    <div class="form-group">
      <label for="id_task">输入要完成的任务</label>
      <input type="text" class="form-control" name="task" ngModel>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="id_is_urgent" name="is_urgent" ngModel>
      <label for="id_is_urgent" class="form-check-label">是否紧迫</label>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

